.lp-placeholder-head {
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: 150px;
}

.lp-placeholder-description {
    color: var(--text-secondary);
}

.lp-card-container {
    border-radius: 15px;
    border: 1px solid var(--grey);
}

.lp-card-head {
    padding: 15px;
    border-bottom: 1px solid var(--grey);
    text-align: start;
    font-weight: bold;
}

.lp-card-body {
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
}

.lp-card-item-title {
    color: var(--text-secondary);
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.lp-card-item-value {
    font-weight: bold;
    font-size: 1.1rem;
}

.lp-second-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 15px;
    justify-content: center;
}

.lp-cards-container {
    display: inline-block;
}

.lp-buttons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 10px;
}

.lp-buttons-box a {
    flex: 1;
    border-radius: 10px;
    padding: 8px 30px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.lp-buttons-box div:hover {
    transform: scale(1.04);
}

.lp-buttons-box div:active {
    transform: scale(.94);
}

.lp-button-start-staking {
    background: var(--connect-wallet-button-color);
}

.lp-button-remove-lp {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.lp-button-connect-wallet {
    background: var(--connect-wallet-button-color);
}